@model TownUtilityBillSystem.Models.CustomerModel

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@{
    ViewBag.Title = "ShowAllUtilityCharts";
    var country = "Denmark";
}

@if (Model.Customer == null)
{
    <h2><strong>Sorry, no data</strong></h2>
}

else
{
    <div style="overflow:auto;" id="customerData">
        @if (Model.Customer.Surname == null)
        {
            <h5><strong>Customer: Name:</strong> @Model.Customer.Name</h5>
        }
        else
        {
            <h5><strong>Customer: Surname/Name:</strong> @Model.Customer.Surname @Model.Customer.Name</h5>
        }

        <h5><strong>Account:</strong> @Model.Customer.Account<strong> Email:</strong> @Model.Customer.Email <strong> Phone:</strong> @Model.Customer.Phone</h5>
        <h5>
            <strong> Address:</strong>
            @Model.Customer.Address.Building.Number, @Model.Customer.Address.Street.Name str.,
            @Model.Customer.Address.Town.Name, @country @Model.Customer.Address.Index.Value
            <strong> Square:</strong>
            @Model.Customer.Address.Building.Square sq. m.
            <strong> Type:</strong>
            @Model.Customer.CustomerType.Name
        </h5>
    </div>

    <div id="container1" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
}

<a href="javascript:history.go(-1)" class="btn btn-link btn-large">
    <span class=" glyphicon glyphicon-arrow-left"></span> <strong>Back to previous page</strong>
</a>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7oyKXdpaKqurqotVj7_bhl9V9_7B5cMQ&libraries=places"
        type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetAllUtilitiesDataForChart", "Meter")',
                    data: { addressId: @Model.Customer.Address.Id },
                    dataType: "json",
                    success: function (data) {
                        Highcharts.chart('container1', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Utilities usage'
                            },
                            subtitle: {
                                text: 'Water(cub.m), Heating (Gcal), Gas(cub.m)'
                            },
                            xAxis: {
                                categories: [
                                    data[0].name,
                                    data[1].name,
                                    data[2].name,
                                    data[3].name,
                                    data[4].name,
                                    data[5].name,
                                    data[6].name,
                                    data[7].name,
                                    data[8].name,
                                    data[9].name,
                                    data[10].name,
                                    data[11].name
                                ],
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Value (cub.m, Gcal)'
                                }
                            },
                            tooltip: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>:{point.percentage:.1f}%',
                                        style: {
                                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                        },
                                    }
                                }
                            },
                            series: [{
                                name: 'Water',
                                data: [
                                    data[0].waterValue,
                                    data[1].waterValue,
                                    data[2].waterValue,
                                    data[3].waterValue,
                                    data[4].waterValue,
                                    data[5].waterValue,
                                    data[6].waterValue,
                                    data[7].waterValue,
                                    data[8].waterValue,
                                    data[9].waterValue,
                                    data[10].waterValue,
                                    data[11].waterValue,
                                ]
                            }, {
                                name: 'Heating',
                                data: [
                                    data[0].heatValue,
                                    data[1].heatValue,
                                    data[2].heatValue,
                                    data[3].heatValue,
                                    data[4].heatValue,
                                    data[5].heatValue,
                                    data[6].heatValue,
                                    data[7].heatValue,
                                    data[8].heatValue,
                                    data[9].heatValue,
                                    data[10].heatValue,
                                    data[11].heatValue,
                                ]
                            }, {
                                name: 'Gas',
                                data: [
                                    data[0].gasValue,
                                    data[1].gasValue,
                                    data[2].gasValue,
                                    data[3].gasValue,
                                    data[4].gasValue,
                                    data[5].gasValue,
                                    data[6].gasValue,
                                    data[7].gasValue,
                                    data[8].gasValue,
                                    data[9].gasValue,
                                    data[10].gasValue,
                                    data[11].gasValue,
                                ]
                            }]
                        });


                        Highcharts.chart('container2', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Electricity usage'
                            },
                            xAxis: {
                                categories: [
                                    data[0].name,
                                    data[1].name,
                                    data[2].name,
                                    data[3].name,
                                    data[4].name,
                                    data[5].name,
                                    data[6].name,
                                    data[7].name,
                                    data[8].name,
                                    data[9].name,
                                    data[10].name,
                                    data[11].name,
                                ],
                                crosshair: true
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Value, kWh',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            tooltip: {
                                valueSuffix: ' kWh'
                            },
                            plotOptions: {
                                bar: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            legend: {
                                enabled: false,
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Electricity',
                                data: [
                                    [data[0].name, data[0].elValue],
                                    [data[1].name, data[1].elValue],
                                    [data[2].name, data[2].elValue],
                                    [data[3].name, data[3].elValue],
                                    [data[4].name, data[4].elValue],
                                    [data[5].name, data[5].elValue],
                                    [data[6].name, data[6].elValue],
                                    [data[7].name, data[7].elValue],
                                    [data[8].name, data[8].elValue],
                                    [data[9].name, data[9].elValue],
                                    [data[10].name, data[10].elValue],
                                    [data[11].name, data[11].elValue]
                                ],
                                dataLabels: {
                                    enabled: true,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y:.2f}', // one decimal
                                    y: 10, // 10 pixels down from the top
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        });
                    },
                    error: function () {
                        $("#customerData").append("<h2><strong>Sorry, no data for this customer meters</strong></h2>")
                    }
        });
    })
</script>



